In [1]:
import numpy as np
import covid19.dataService
import pandas as pd

In [2]:
ds = covid19.dataService.get_data()

In [3]:
ds_ms = ds[ds.Landkreis =='SK MÃ¼nster']

In [5]:
ds_ms_reduced_af = ds_ms \
.loc[:, ['Meldedatum', 'AnzahlFall']] \
.groupby('Meldedatum').agg({'AnzahlFall': np.sum}) 
ds_ms_reduced_af.tail(3)

                     AnzahlFall
Meldedatum
2021/01/20 00:00:00          31
2021/01/21 00:00:00          24
2021/01/22 00:00:00          20

In [8]:
ds_ms_reduced_rec = ds_ms \
.loc[:, ['Meldedatum', 'AnzahlTodesfall', 'AnzahlGenesen']] \
.groupby('Meldedatum') \
.agg({
    'AnzahlTodesfall': np.sum,
    'AnzahlGenesen': np.sum,
})
ds_ms_reduced_rec.tail(3)

                     AnzahlTodesfall  AnzahlGenesen
Meldedatum
2021/01/20 00:00:00                0              0
2021/01/21 00:00:00                0              0
2021/01/22 00:00:00                0              0

In [17]:
ds_ms["NeuerTodesfall"].unique()

array([-9,  0,  1])